.reducer{
    margin-top: 200px;
    margin-left: 550px;
}

.reducer button{
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    margin-left: 30px;
}

.reducer p{
    margin-left: 30px;
    font-weight: bold;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    color: orangered;
}